.lua*
.DS_Store
.antigravitycli

fish/.config/fish/fish_variables
fish/.config/fish/functions
fish/.config/fish/completions
fish/.config/fish/fish_plugins
fish/.config/fish/fish_variables
fish/.config/fish/conf.d
tmux/.config/tmux/plugins
lazysql/.config/lazysql/saved_queries
lazysql/.config/lazysql/history
rofi/.config/rofi/colors.rasi
waybar/.config/waybar/tokens/colors.css
helix/.config/helix/colors.txt
ghostty/.config/ghostty/auto/colors.txt
